html, body
  max-width: 100%
  font-family: Arial, Helvetica, sans-serif

body
  background-color: #8FBC8F
  display: block
  position: relative
  padding: 0
  margin: 0

#outer
  margin: 0
  padding: 2rem
  position: relative

#main
  position: relative
  margin: 0 auto
  max-width: 60rem
  min-width: 25rem

h1
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold
  font-size: 3.4rem
  padding: 0
  margin-bottom: 0.4rem
  margin-top: 0.1rem
  color: #a80000
  text-shadow: #575 0.5rem 0.5rem 0.8rem
  white-space: nowrap
  overflow-x: hidden

#errors-container
  display: none
  position: relative
  margin: 0.5rem
  padding: 0.5rem
  border-radius: 1rem
  background-color: yellow
  min-height: 1rem

#errors-container-title
  font-weight: bold
  font-size: 2rem
  padding: 0.25rem

#errors-container-inner
  margin: 0
  padding: 0

#errors-container-inner > .widget
  background-color: LightGoldenRodYellow
  border-left: solid red 0.4rem

#widgets-container .widget
  border-radius: 1rem

.widget
  position: relative
  margin: 0.5rem
  padding: 1rem
  min-height: 1rem
  background-color: #AFDCAF

summary.widget-top
  white-space: nowrap

.de-emph
  opacity: 50%

.widget-heading-parent
  display: inline-flex
  justify-content: space-between
  margin-right: 0
  width: 100%

.widget-heading
  white-space: wrap
  font-size: 1.2rem
  font-weight: bold
  margin-bottom: 0.4rem

.widget-close-button
  margin-right: 1rem

.widget-section-heading
  font-weight: bold
  margin-top: 0.8rem
  margin-bottom: 0.2rem

.widget textarea
  width: 100%
  height: 20rem

.error-widget pre
  background-color: #ffe
  overflow-x: auto
  white-space: pre-wrap
  padding: 0.5rem

.error-widget pre:empty
  width: 0
  height: 0
  margin: 0

.yt-error-cs
  margin-bottom: 1rem

.yt-error-code
  font-weight: bold

.yt-error-status
  font-family: New Courier, Courier, monospace
  margin-left: 1rem

.subscriptions li
  display: block
  margin: 0.4rem
  padding: 0.2rem 0.5rem
  border-radius: 0.3rem
  background-color: #CFFCCF

.subs-title
  font-weight: bold

.subs-id
  font-family: New Courier, Courier, monospace
  font-size: 0.8rem
  margin-left: 1rem


@keyframes loading
  0%
    color: rgba(128,0,0,255)
  50%
    color: rgba(128,0,0,0)
  100%
    color: rgba(128,0,0,255)

.loading
  font-weight: bold
  font-style: italic
  animation-name: loading
  animation-duration: 2s
  animation-iteration-count: infinite
